/* Font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Variables */
:root {
  --highlight-color: #f4d04e;
  --dark-color: #111;
  --light-color: #6b6b6b;
  --white-color: #fff;
  --bold-font: 800;
  --normal-font: 500;
}

/* Main Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Figtree', sans-serif;
  font-weight: var(--normal-font);
  background-color: var(--highlight-color);
  color: var(--dark-color);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

img {
  max-width: 100%;
  display: block;
}

.card {
  background-color: var(--white-color);
  inline-size: clamp(20.4375rem, 19.1831rem + 5.3521vw, 24rem);
  padding: 1.5rem;
  border: 1px solid var(--dark-color);
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem #000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.picture {
  border-radius: 0.625rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.info__tag {
  background-color: var(--highlight-color);
  font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
  font-weight: var(--bold-font);
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
}

.info__date {
  font-size: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
}

.info__heading {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  font-weight: var(--bold-font);
  transition: all 0.2s;
}

.info__heading:hover,
.info__heading:focus {
  color: var(--highlight-color);
  cursor: pointer;
}

.info__text {
  color: var(--light-color);
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author_picture {
  width: 2rem;
}

.author_name {
  font-size: 0.875rem;
  font-weight: var(--bold-font);
}
